html, body {
  height: 100%;
  width: 100%;
  font-family: "Times New Roman", serif;
  background: #23272a;
  margin: 0;
  color: white;
}

nav {
  padding: 7px 10px 10px 10px;
  background-color: #99aab5;
}

p, h1, h3, table {
  margin: 7px 10px 10px 10px;
}

.hidden {
  color: white;
  text-decoration: none;
}

img {
  float: left;
  height: 400px;
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}

ul {
  list-style-position: inside;
}

.inner {
  text-indent: 20px;
}