html, body {
    height: 100%;
    width: 100%;
    font-family: "Times New Roman", serif;
    background: #23272a;
    margin: 5px;
    color: white;
}

nav {
    padding: 7px 10px 10px 10px;
    background-color: #99aab5;
}