body {
    background: no-repeat url("https://images.launchbox-app.com/63d126ab-6ccf-4517-b929-a9d985632d9c.jpg");
    background-size: cover;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}
canvas {
    border: solid 0.2em #fff;
    height: 90vh;
}

#score {
    color: black;
}